 ../blogz/
        ../build-a-blog/
        ../fireside-story/
        ../flicklist-flask/
        ../flicklist/
        ../get-it-done/
        ../hello-flask/
        ../html-me-something/
        ../mario-js/
        ../nodePlay/
        ../pyramid-slide/
        ../untracked/
        ../user-signup/
        ../web-caesar/